#include"resource.h"
#include<windows.h>

IDD_DLG1 DIALOGEX 10,10,255,165
CAPTION "登录"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "用户名",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE,6,33,60,18
  CONTROL "密码",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE,6,66,60,21
  CONTROL "",IDC_EDT1,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,81,33,153,18,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT2,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,81,66,153,18,WS_EX_CLIENTEDGE
  CONTROL "登录",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,27,117,72,21
  CONTROL "取消",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,138,117,72,21
END

